{% load static %}
<head>
    <title>SOVA</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://via.placeholder.com/108x32" width="108px" height="32px" class="d-inline-block align-top"
                 alt="">
        </a>
        {% if user.is_authenticated %}
            <span>
            {% if user.first_name %}
                <span>Добро пожаловать, {{ user.first_name }}.</span>
            {% endif %}
                <a href="/lk/"> Личный кабинет</a>
            </span>
        {% else %}
            <a href="/login">Войти</a>
        {% endif %}

        <a href="/cart/">Корзина (<span id="nowItems"></span>)</a>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
