{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <div id="app">
        {% verbatim %}
        <div v-if="!order">
            <div class="i, row cart_item" v-for="(item, i) in cart">
                <div class="col-10">{{ item.good.name }}</div>
                <button class="btn-cart" @click="deleteItem(i)">-</button>
                {{ item.count }}
                <button class="btn-cart" @click="addItem(i)">+</button>
            </div>
            <button class="btn btn-primary row mt-2" @click="order = true" v-if="cart != false">Оформить заказ</button>
        </div>
        {% endverbatim %}
        <div class="row" v-if="order">
            <button class="btn btn-primary col-2 mt-2 mr-2" @click="delivery=false" v-if="delivery===null">Я заберу сам</button>
            <button class="btn btn-primary col-2 mt-2" @click="delivery=true" v-if="delivery===null">Хочу доставку</button>
            <div v-if="delivery===true" class="row col-12">
                <input type="text" class="form-control col-12 qqq" id="city" placeholder="Введите город">
                <input type="text" class="form-control col-12 qqq" id="street" placeholder="Введите улицу">
                <input type="text" class="form-control col-12 qqq" id="house_number" placeholder="Введите номер дома">
                <input type="text" class="form-control col-12 qqq" id="apartment_number"
                       placeholder="Введите номер квартиры">
                <input type="text" class="form-control col-12 qqq" id="index" placeholder="Введите индекс">
            </div>
            <p v-if="delivery===false" class="row col-12 mt-2 h4">Ближайший пункт самовывоза находится по адресу: ул.Шотмана 11</p>
            <button class="btn btn-primary col-2 mt-2" @click="confirmOrder" v-if="delivery!==null">Подтвердить заказ</button>
        </div>
    </div>
{% endblock %}
