{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div class="row">
        <div class="col-3">
            {% for category in categories %}
                <a href="/goods?category={{ category.id }}" class="category pl-2">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="col-9 main">
            {% if search_string %}
                <div class="form-inline my-2 my-lg-0 mt-2">{% csrf_token %}
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Поиск" aria-label="Search" id="search_input" value="{{ search_string }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search_btn" onclick="searchGoods()">Поиск
                    </button>
                </div>
            {% endif %}
            {% for row in rows %}
                <div class="row">
                    {% for good in row %}
                        <a href="/goods/{{ good.id }}" class="good col-3">
                            <img class="col image" src="{{ good.image.url }}" alt="">
                            <div class="col title"> {{ good.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if next %}
                <button>Показать еще</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
