{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div class="row">
        <div class="col-3">
            {% for category in categories %}
                <a href="/goods?category={{ category.id }}" class="category pl-2">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="col-9 main">
            <a href="/" class="banner">
                <img src="https://pp.userapi.com/c846122/v846122706/1342b2/It_I7McuXLA.jpg" width="825px" height="200px"
                     class="d-inline-block align-top" alt="">
            </a>
            <br><br>
            <p class="h4">Хиты продаж</p>
            {% for row in rows %}
                <div class="row">
                    {% for good in row %}
                        <a href="/goods/{{ good.id }}" class="good col-3">
                            <img class="col image" src="{{ good.image.url }}" alt="">
                            <div class="col title"> {{ good.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
